<footer class="site-footer" style = "font-size: 14px">
	<div class="container">
		<div class="row">
 			<div class="col-xs-6 col-sm-12">
					{%- include social.html -%}
			</div>
			<div class="col-xs-6 col-sm-12">
				<ul class = "app-list">
					<li id = "app-list-header"><b>Michael's Apps:</b></li>
					<li><a href = "https://www.reminderbase.com">Reminderbase</a></li>
					<li><a href = "https://michaelwodka.com/todolist">To-Do List</a></li>
					<li><a href = "https://michaelwodka.com/calculator">Calculator</a></li>
				</ul>
			</div>
 		</div>
	</div>
</footer>